
<div class="remote">
   <section class="remotebuttons">

   <div class="newsbuttons">
    <button class="news" id="0">1</button>
    <button class="news" id="1">2</button>
    <button class="news" id="2">3</button>

</div>
<button id="power">Teletekst</button>
    <div class="volume">
        <button class="channel-minus" id="back">&lt-</button>
      
    <button class="channel-plus" id="front">-&gt</button>

    </div>
   
    <section class="channels">
    
    <button class="channel netflix">Netflix</button>
    <button class="channel nickelodeon" id="nickel">Nickelodeon</button>
    <button class="channel MTV">MTV</button>

    <form id="channelForm" class="channel ">
        <input type="text" id="customChannel" placeholder="Channel">
        <button id="channelsubmit" type="submit">Submit</button>
    </form>
</section>


</section>
</div>