
    <h1>Webvision</h1>
<div id="television">
    <div id="tv">

        <img  id=tvImg src="<%= gifUrl %>" alt="tv">

        <section class="off" id="teletekst">
            <hr>
            <h2 id="teleLogo"><%= teleNaam %></h2>
            <hr>
            <h3 id="teleTitle"><%= teleTitle %></h3>
            <p id="teleContent"><%= teleDescription %></p>
        </section>

    </div>
    <div class="foot"></div>
    <div class="base"></div>
</div>

